{% extends 'security/login_template.html.twig' %}

{% block title %}{{ '2FA Check' | trans }}{% endblock %}

{% block titleArea %}
    <p class="mb-0">{{ 'Please open your 2FA app and generate a new code' | trans }}</p>
    <h1 class="mb-3 mt-0 text-primary">{{ 'Enter your code' | trans | capitalize }}...</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" class="text-left">
        {% if authenticationError %}
            <div class="alert alert-danger mb-4">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
        {% endif %}
        {% if isCsrfProtectionEnabled %}
            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
        {% endif %}
        <div class="md-form md-outline">
            <input type="text" id="_auth_code" name="{{ authCodeParameterName }}" class="form-control" value="" autocomplete="one-time-code" autofocus>
            <label for="_auth_code">{{ 'Code' | trans }}</label>
        </div>

        <button type="submit" class="btn btn-block btn-primary mb-4">{{ 'Confirm' | trans }}</button>
    </form>
{% endblock %}

{% block footer %}
    <div>
        <p class="mb-2 text-muted">{{ 'Cancel Login?' | trans }}<a href="{{ logoutPath }}" class="text-primary"> {{ 'Cancel' | trans }}</a></p>
    </div>
{% endblock %}