{% extends 'security/login_template.html.twig' %}

{% block title %}{{ 'Change Password' | trans }}{% endblock %}

{% block titleArea %}
    <h1 class="mb-3 mt-0 text-primary">{{ 'Change Password' | trans }}</h1>
    <p class="mb-0">{{ 'Enter and confirm your new password' | trans }}</p>

{% endblock %}

{% block content %}
    {% for label, messages in app.flashes(['warning', 'error', 'notice', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label | replace({'error':'danger'}) }}">
                {{ message | trans }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form(form) }}
{% endblock %}

{% block footer %}
    <div>
        <p class="mb-2 text-muted">{{ 'Ready to Login?' | trans }}<a href="{{ path('login') }}" class="text-primary"> {{ 'Back to Login' | trans }}</a></p>
    </div>
{% endblock %}
