{% extends 'security/login_template.html.twig' %}

{% block title %}{{ 'Password Reset Email Sent' | trans }}{% endblock %}

{% block titleArea %}
    <h5 class="mb-3 mt-0 text-primary">{{ 'An email has been sent that contains a link to reset your password. This link will expire in 24 hours' | trans }}</h5>
    <p class="mb-0">{{ "If you don't receive an email please check your spam folder" | trans}}</p>

{% endblock %}

{% block footer %}
    <div>
        <p class="mb-2 text-muted">{{ 'Ready to Login?' | trans }}<a href="{{ path('login') }}" class="text-primary"> {{ 'Back to Login' | trans }}</a></p>
    </div>
{% endblock %}


