{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('css/auth') }}
{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <div class="background"></div>
        <div class="login-panel">
            <div class="inner">
                <div class="row justify-content-between align-items-center login-fade-1">
                    <div class="col-auto">
                        <div class="logo">
                            <img src="{{ asset('assets/images/logo.svg') }}" alt="{{ 'App Brand' | trans }} Logo">
                        </div>
                    </div>
                    <div class="col-auto">
                    </div>
                </div>
                <div class="content">
                    <div class="row justify-content-between">
                        <div class="col-12 col-lg-12 mb-5 mb-lg-0 login-fade-2">
                            {% block titleArea %}
                            {% endblock %}
                        </div>
                        <div class="col-12 col-lg-10 login-fade-3">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="footer login-fade-4">
                    {% block footer %}
                        <div>
                            <p class="mb-2 text-muted">{{ 'forgot password?' | trans | capitalize }}<a href="{{ path('forgotten_password') }}" class="text-primary"> {{ 'reset' | trans | title }}</a></p>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/mdb-admin/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/mdb-admin/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/mdb-admin/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/mdb-admin/mdb.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}