{% extends 'security/login_template.html.twig' %}

{% block title %}{{ 'Sign In' | trans }}{% endblock %}

{% block titleArea %}
    <p class="mb-2">{% if  "now"|date("H") < 12  %}{{ 'good morning' | trans | capitalize }}
        {% elseif  "now"|date("H") < 17  %}{{ 'good afternoon ' | trans | capitalize }}
        {% else %}{{ 'good evening' | trans | capitalize }}
        {% endif %}</p>
    <h1 class="mb-3 mt-0 text-primary">{{ 'lets get started' | trans | capitalize }}...</h1>
{% endblock %}

{% block content %}
    <form method="post" class="text-left">

        {% if error %}
            <div class="alert alert-danger mb-4">{{ error | trans }}</div>
        {% endif %}

        <div class="md-form md-bg">
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required>
            <label for="username">{{ 'Email' | trans }}</label>
        </div>

        <div class="md-form md-bg">
            <input type="password" id="password" name="_password" class="form-control" required>
            <label for="password">{{ 'Password' | trans }}</label>
        </div>

        <div class="form-check mb-4">
            <input type="checkbox" class="form-check-input filled-in" id="_remember_me" name="_remember_me">
            <label class="form-check-label" for="_remember_me">{{ 'Remember Me' | trans }}</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-block btn-primary mb-4">{{ 'Sign In' | trans }}</button>
        <br>
        <p class="mb-1">{{ 'or sign in/register with'|trans | title }} </p>
        <a href="{{ path('connect_start',{'type':'facebook'}) }}" type="button" class="btn-floating btn-lg btn-fb"><i class="fab fa-facebook-f pr-1"></i> </a>
        <a href="{{ path('connect_start',{'type':'google'}) }}" class="btn-floating btn-lg btn-gplus"><i class="fab fa-google pr-1"></i> </a>
        <a href="{{ path('connect_start',{'type':'linkedin'}) }}" class="btn-floating btn-lg btn-li"><i class="fab fa-linkedin-in pr-1"></i> </a>
        <a href="{{ path('connect_start',{'type':'microsoft'}) }}" class="btn-floating btn-lg btn-vk"><i class="fab fa-microsoft pr-1"></i> </a>
    </form>
{% endblock %}

