{% extends 'base.html.twig' %}

{% block title %}{{ 'Password Reset Email Sent' | trans }}{% endblock %}

{% block body %}
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <img src="{{ asset('assets/images/logo.png') }}" alt="" style="height: 120px" class="img-fluid mb-4">
                            <p>{{ 'This link is no longer valid. You can try to reset your password again' | trans }}.</p>
                            <p class="mb-2 text-muted">{{ 'Try Again' | trans }}<a href="{{ url('forgotten_password') }}" class="f-w-400"> {{ 'reset' | trans | title }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}