{% extends 'main_layout.html.twig' %}
{% block title %}{{ title | default }}{% endblock %}
{%  block content %}
    {% if stats|default %}

        <h2 class="h6 mb-3">{{ 'Key Stats' | trans }}</h2>

        <div class="row">

            {% for stat in stats %}

                <div class="col-xl-3 col-md-6 mb-4 d-flex">

                    {% embed 'partials/_stat_card.html.twig' %}
                        {% block colour %}
                            {{ stat.colour|default('green') }}
                        {% endblock %}
                        {% block heading %}
                            {{ stat.heading|default }}
                        {% endblock %}
                        {% block number %}
                            {{ stat.number|default }}
                        {% endblock %}
                        {% block icon %}
                            {% if stat.heading|default %}
                                <img src="{{ asset('assets/icons/icon-dashboard-' ~ stat.heading|replace({' ': '_'})|lower ~ '.svg' ) }}" alt="{{ stat.heading }} Icon" aria-hidden="true">
                            {% endif %}
                        {% endblock %}
                        {% block link %}
                            {% if stat.link|default %}
                                <a href="{{ stat.link }}" class="card-link waves-effect"></a>
                            {% endif %}
                        {% endblock %}
                    {% endembed %}

                </div>

            {% endfor %}

        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {% embed 'partials/_scripts.html.twig' %}
    {% endembed %}
{% endblock %}
