{% extends 'main_layout.html.twig' %}

{% block title %}{{ page_title | default(title | default)  }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {% embed '@generic/_card.html.twig' %}
                {% block card_header %}
                    {{ title | default('Form') }}
                {% endblock %}
                {% block card_sub_header %}
                    {{ sub_heading | default }}
                {% endblock %}
                {% block card_body %}
                    <div class="row">
                        <div class="col-md-5">
                            {%  if authsession | default %}
                            <img src="data:image/png;base64,{{ authsession.getIconData() }}"/>
                            {% else %}
                            <img src="{{ qr_code_path(message) }}" />
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            <h5 class="m-3">{{ 'Use a trusted 2FA authenticator' | trans }}</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="d-flex mb-5">
                                        <img src="https://lh3.googleusercontent.com/HPc5gptPzRw3wFhJE1ZCnTqlvEvuVFBAsV9etfouOhdRbkp-zNtYTzKUmUVPERSZ_lAL=s180-rw" style="height: 60px; ">
                                        <div class="d-flex flex-column">
                                            <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                                <img style="width: 145px; margin-top: -10px" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
                                            <a  href="https://apps.apple.com/gb/app/google-authenticator/id388497605?mt=8"
                                                 style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-gb/badge-lrg.svg?releaseDate=2010-09-20&kind=iossoftware&bubble=ios_apps) no-repeat;
                                         width: 125px;
                                         height: 60px;
                                        background-size: 100%;
                                        margin-left: 10px;"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex mb-5">
                                        <img src="https://lh3.googleusercontent.com/T7_4mv5aTo4XdLWz_vAQ2Hg8E-uMf_XUZMtdHdnf5ifZEP413DhOEDo2YEMSSL1Jl4k=s180-rw" style="height: 60px; ">
                                        <div class="d-flex flex-column">
                                            <a href='https://play.google.com/store/apps/details?id=com.azure.authenticator&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                                <img style="width: 145px; margin-top: -10px" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
                                            <a href="https://apps.apple.com/gb/app/microsoft-authenticator/id983156458?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-gb/badge-lrg.svg?releaseDate=2015-05-30&kind=iossoftware&bubble=ios_apps) no-repeat;
                                                 width: 125px;
                                                 height: 60px;
                                                background-size: 100%;
                                                margin-left: 10px;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_start(form) }}
                            {{ form_rest(form) }}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block javascripts  %}
    {{ parent() }}
{% endblock %}