<div class="card {% block cardClasses %}{% endblock %}" {% block cardAttributes %}{% endblock %}>
    <div class="card-heading">
        <div class="row align-items-center">
            <div class="col">{% block cardHeading %}{% endblock %}</div>
            <div class="col-auto">{% block cardHeadingRight %}{% endblock %}</div>
        </div>
    </div>
    {% block cardTable %}{% endblock %}

    {% if includeBody|default %}
        <div class="card-body {% block cardBodyClasses %}{% endblock %}" {% block cardBodyAttributes %}{% endblock %}>
            {% block cardBody %}{% endblock %}
        </div>
    {% endif %}

    {% if includeFooter|default %}
        <div class="card-footer text-right">
            {% block cardFooter %}{% endblock %}
        </div>
    {% endif %}
</div>