<ul class="progressive-steps">
    {% set complete = false %}
    {% for point in points %}
        <li class="step {% if complete == false and  current_point != point %} complete {% elseif point == current_point %}complete current {% set complete = true %} {% endif %}">
            <div>{% if complete == false and  current_point != point  %}<i class="font-small far fa-check-circle fa-lg"></i> {% endif %}{{ point }}</div>
        </li>
    {% endfor %}
</ul>