{% block main_scripts %}
<script src="{{ asset('build/js/mdb-admin/jquery.min.js') }}"></script>
<script src="{{ asset('build/js/mdb-admin/popper.min.js') }}"></script>
<script src="{{ asset('build/js/mdb-admin/bootstrap.min.js') }}"></script>
<script src="{{ asset('build/js/mdb-admin/mdb.min.js') }}"></script>
<script src="{{ asset('build/js/mdb-admin/modules/material-select/material-select.min.js') }}"></script>

{% endblock %}
{% block encore_scripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
{% block after_scripts %}
<script>
    $(document).ready(function() {
        //SideNav
        $(".button-collapse").sideNav({
            slim: true,
        });

        // Scrollbars
        const el = document.querySelectorAll('.custom-scrollbar');

        for (let i = 0; i < el.length; i++) {
            new PerfectScrollbar(el[i]);
        }

        //Drop downs
        $('.mdb-select').materialSelect();

        // Tooltips
        $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });

        $('.datepicker').datepicker({
            format: 'd mmmm, yyyy',
            formatSubmit: 'yyyy-mm-dd',
            min: 0
        });
        /**
         * 29/08/2020
         * Stupid hackey fix because the settings for datepicker dont work - reported to MDB 3 months ago by multiple users and still not fixed
         */
        $('input[name ="undefined_submit"]').remove();

        $('.datepicker > input').each(function (){
            if($(this).data('date-format')) {
                let name = $(this).attr('name');
                let id = name.replace('[','_').replace(']','');
                let value = moment($(this).val()).format($(this).data('date-format'));
                $('.datepicker > input').after(`<input type="hidden" id="${id}_submit" name="${name}" value="${value}">`);
                $(this).change(function () {
                    let value = moment($(this).val()).format($(this).data('date-format'));
                    let id = `#${name.replace('[','_').replace(']','')}_submit`;
                    $(id).val(value);
                });
            }
        });

        // Alerts
        const alerts = $('.alert-fade-out');

        if (alerts.length) {
            setTimeout(() => {
                alerts.alert('close')
            }, 5000);
        }
    });
</script>
{% endblock %}