<a class="w-100" href="{{ stat.route | default ? path(stat.route) : '#' }}">
    <div class="card text-white card-gradient {% block colour %}{% endblock %}">
        <div class="card-body">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <h3 class="h5">{% block heading %}{% endblock %}</h3>
                    <span class="card-number">{% block number %}{% endblock %}</span>
                </div>
                <div class="col-auto">
                    <div class="card-icon">
                        {% block icon %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block progressBar %}
        {% endblock %}
        {% block link %}
        {% endblock %}
    </div>
</a>
