<div class="timeline">

    {% for activity in activities %}

        <div class="timeline__item timeline-item">
            <p class="m-0">
                <strong class="timeline-item__title d-block">
                    {% if activity.loggedAt | default %}
                        <span>{{ activity.loggedAt | date('d F Y') }}</span>
                    {% endif %}
                    {% if activity.action | default %}
                        <span> {{ activity.action | title  }}</span>
                    {% endif %}
                </strong>
                {% if activity.description | default %}
                    <span class="timeline-item__content">
                        {{ activity.description }}
                    </span>
                {% endif %}
            </p>
        </div>

    {% endfor %}

</div>