{% extends '@generic/generic_form.html.twig' %}

{%  block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            let values = {{ values | json_encode | raw }}
                $('#form_county').mdbAutocomplete({
                    data: values
                });
        });
    </script>
{% endblock %}