{% extends 'main_layout.html.twig' %}
{% block title %}{{ title | default }}{% endblock %}
{%  block content %}
    <div class="row">
        <div class="col-3 d-flex">
            <div class="card flex-fill">
                <div class="card-body text-center p-3">
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">{{ customer.name | title }}</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>{{ customer.address }}</strong></h6>
                    <!--Linkedin -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
                        <i class="fab fa-linkedin-in "></i>
                    </a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                        <i class="fab fa-twitter "></i>
                    </a>
                    <!--Pinterest -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-pin">
                        <i class="fab fa-pinterest "></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex">
            <!-- Classic tabs -->
            <div class="classic-tabs card flex-fill">
                <ul class="nav tabs-trans" id="tabs" role="tablist">
                    <li class="nav-item ml-3">
                        <a class="nav-link waves-light  active show" id="tab-activity-header" data-toggle="tab" href="#tab-activity" role="tab"
                           aria-controls="activity-tab" aria-selected="false">{{ 'Activity' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  waves-light" id=tab-notes-header" data-toggle="tab" href="#tab-tickets"
                           role="tab" aria-controls="tickets-tab" aria-selected="true">{{ 'Tickets' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" id="tab-contacts-header" data-toggle="tab" href="#tab-contacts" role="tab"
                           aria-controls="contacts-tab" aria-selected="false">{{ 'Contacts' | trans }}</a>
                    </li>
                </ul>
                <div class="tab-content p-0" id="tabsContent">
                    <div class="tab-pane fade active show   " id="tab-activity" role="tabpanel" aria-labelledby="activity-tab">
                        <div class="pt-2"></div>
                        <div class="px-3 d-flex">
                            <span class="d-inline-flex justify-content-center align-items-center p-2">
                                <i class="far fa-edit fa-2x text-info"></i>
                            </span>
                            <div class="d-flex flex-column pl-3 w-100">
                                <div class="d-flex">
                                    <span class="text-primary">Update</span>
                                    <p class="ml-1 small text-muted mb-0 mt-1">8:35 PM Today</p>
                                </div>
                                <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="px-3 d-flex">
                            <span class="d-inline-flex justify-content-center align-items-center p-2">
                                <i class="far fa-sticky-note fa-2x text-warning"></i>
                            </span>
                            <div class="d-flex flex-column pl-3  w-100">
                                <div class="d-flex">
                                    <span class="text-primary">Note</span>
                                    <p class="ml-1 small text-muted mb-0 mt-1">8:35 PM Today</p>
                                </div>
                                <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="px-3 d-flex">
                            <span class="d-inline-flex justify-content-center align-items-center p-2">
                                <i class="far fa-file-alt fa-2x text-success"></i>
                            </span>
                            <div class="d-flex flex-column pl-3  w-100">
                                <div class="d-flex">
                                    <span class="text-primary">File Upload</span>
                                    <p class="ml-1 small text-muted mb-0 mt-1">8:35 PM Today</p>
                                </div>
                                <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade  p-0" id="tab-tickets" role="tabpanel" aria-labelledby="tickets-tab">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-12 text-right">
                                    <a href="{{ path('new_ticket') }}" class="btn btn-primary"> {{ 'New Ticket' | trans }}</a>
                                </div>
                            </div>
                            {% for ticket in customer.tickets | default %}
                            <div class="px-3">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" class="z-depth-1 rounded-circle float-left" width="40" alt="avatar image">
                                <div class="d-flex flex-column pl-3">
                                    <div class="">
                                        <a href="{{ path('view_ticket', {'hashid' : hashid.encode(ticket.id)}) }}" class="font-weight-normal mb-0 ">{{ ticket.subject | title }}</a>
                                        <p class="small badge {{ converters.priorityColour(ticket.priority)}} mb-0 ml-2">{{ converters.priority(ticket.priority) }}</p>
                                        <p class="small text-muted float-right mb-0"> {% if ticket.dueBy | default  %}
                                                {% set colour = converters.deadlineColour(date(ticket.dueBy)) %}
                                                {% if colour != '' %}
                                                    {% set text = converters.deadlineText(date(ticket.dueBy)) %}
                                                    <span class="badge {{ colour}} p-1 w-100">{{ text }}</span>
                                                {% else %}
                                                    {{ converters.deadlineText(date(ticket.dueBy)) | nl2br }}
                                                {% endif %}
                                            {% endif %}</p>
                                    </div>
                                    <p class="font-weight-light dark-grey-text mb-0">{{ ticket.description }}</p>
                                </div>
                            </div>
                            <hr class="my-3">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-contacts" role="tabpanel" aria-labelledby="contacts-tab">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn btn-primary"> {{ 'New Contact' | trans }}</button>
                            </div>
                        </div>
                        {% for contact in customer.contacts | default %}
                        <div class="row mt-4">
                            <div class="col-2 avatar w-100">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="img-fluid z-depth-1 rounded-circle" alt="woman avatar">
                            </div>
                            <div class="col-8 flex-column">
                                <div class="text-primary font-weight-bold">{{ contact | title }}</div>
                                <div class="grey-text">{{ contact.role }}</div>
                                <div class="d-flex">
                                    <div class="grey-text"><i class="dark-grey-text fa fa-phone"></i> {{ contact.landline }}</div>
                                    <div class="grey-text"><i class="dark-grey-text fa fa-envelope ml-2 mr-2"></i>{{ contact.email }}</div>
                                </div>

                            </div>
                            <div class="col-2 p-0 d-flex">
                                {% if is_granted('update', 'contact') == true %}
                                <a href="{{ path('update_contact', {'hashid' : hashid.encode(contact.id)}) }}" class="btn-floating btn-sm btn-primary m-0"><i class="fa fa-pencil-alt"></i>{{ 'Edit' | trans }}</a>
                                {% endif %}
                                {% if is_granted('delete', 'contact') == true %}
                                <div class="mx-1"></div>
                                <a href="{{ path('delete_contact', {'hashid' : hashid.encode(contact.id)}) }}" class="btn-floating btn-sm btn-danger m-0"><i class="fa fa-trash"></i>{{ 'Delete' | trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
            <!-- Classic tabs -->
        </div>
        <div class="col-3 d-flex">
            <div class="card flex-fill">
                <div class="card-body text-center p-3">
                    <h5>Tickets</h5>
                    <div id="canvas-holder w-100">
                        <canvas id="chart-area"></canvas>
                    </div>
                    <h5 class="mt-3">By Priority</h5>
                    <div class="row mt-3">
                        <div class="col-6 d-flex px-2">
                            <div class="card text-white bg-danger mb-3 flex-fill">
                                <div class="card-body">
                                    <h3 class="card-title pt-4">50%</h3>
                                    <p class="card-text text-white text-sm-center">Critical</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-flex px-2">
                            <div class="card text-white bg-warning mb-3 flex-fill">
                                <div class="card-body">
                                    <h3 class="card-title pt-4">50%</h3>
                                    <p class="card-text text-white text-sm-center">High</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-flex px-2">
                            <div class="card text-white bg-success mb-3 flex-fill">
                                <div class="card-body">
                                    <h3 class="card-title pt-4">50%</h3>
                                    <p class="card-text text-white text-sm-center">Normal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-flex px-2">
                            <div class="card text-white bg-info mb-3 flex-fill">
                                <div class="card-body">
                                    <h3 class="card-title pt-4">50%</h3>
                                    <p class="card-text text-white text-sm-center">Low</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% embed 'partials/_scripts.html.twig' %}
    {% endembed %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://pandameister.github.io/chartjs-chart-radial-gauge/docs/js/Chart.RadialGauge.umd.js"></script>
    <script>
        $(function () {
            Chart.defaults.global.defaultFontFamily = "Verdana";

            let ctx = document.getElementById("chart-area").getContext("2d");
            let  gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
            gradientStroke.addColorStop(0, "#31682b");
            gradientStroke.addColorStop(1, "#14ff18");

            let config = {
                type: "radialGauge",
                data: {
                    labels: ['Completed'],
                    datasets: [
                        {
                            data: [60],
                            backgroundColor: [gradientStroke],
                            borderWidth: 0,
                            label: "%"
                        }
                    ]
                },
                options: {
                    responsive: true,
                    legend: {},
                    centerPercentage: 80
                }
            };

            ctx = document.getElementById("chart-area").getContext("2d");
            window.myRadialGauge = new Chart(ctx, config);

        });
    </script>
{% endblock %}

