{% extends 'main_layout.html.twig' %}
{% block title %}{{ title | default }}{% endblock %}
{% block content %}
    <div class="row mb-1">
        <div class="col-lg-6 px-3 mb-3 d-flex align-item-stretch">
            <div class="col-lg-2 d-flex mb-2 align-items-center">
                <div class="avatar w-100">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="img-fluid z-depth-1"
                         alt="woman avatar"/>
                </div>
            </div>
            <div class="col-lg-10 p-3">
                <h5 class="grey-text">{{ ticket.customer.name  | title}}</h5>
                <h3>{{ ticket.subject | title }}</h3>
                <div class="d-flex justify-content-between">
                    <div class="grey-text">
                        <i class="fa fa-{{ converters.priorityIcon(ticket.priority)}} fa-lg mr-1 text-info"></i> {{ converters.priority(ticket.priority) | title }}
                    </div>
                    <div class="grey-text">
                        <i class="fa fa-calendar mr-1"></i> {{ 'Start By' | trans }}: {{ ticket.startBy | date('D d M Y') }}
                    </div>
                    <div class="grey-text">
                        <i class="fa fa-calendar mr-1"></i> {{ 'Due By' | trans }}: {{ ticket.dueBy | date('D d M Y') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 px-3 mb-3 d-flex align-item-stretch">
            <div class="col-lg-6"></div>
            <div class="col-lg-2 d-flex p-3">
                <div class="row d-flex flex-column">
                    <div class="flex-fill"></div>
                    <div class="d-flex">
                        <div class="w-25 m-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar"/>
                        </div>
                        <span class="m-auto grey-text">{{ ticket.reporter }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex p-3 ml-3">
                <div class="row d-flex flex-column">
                    <div class="flex-fill"></div>
                    <div class="d-flex">
                        <div class="w-25 m-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar"/>
                        </div>
                        <span class="m-auto grey-text">{{ ticket.assignedTo }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-right">
                {% if is_granted('update', 'ticket') == true %}
                <a href="{{ path('update_ticket', {'hashid': hashid.encode(ticket.id)}) }}" class="btn-floating btn-sm btn-primary m-0"><i class="fa fa-pencil-alt"></i> {{ 'Edit' | trans }}</a>
                {% endif %}
                {% if is_granted('delete', 'ticket') == true %}
                <a href="{{ path('delete_ticket', {'hashid': hashid.encode(ticket.id)}) }}" class="btn-floating btn-sm btn-danger m-0"><i class="fa fa-trash"></i> {{ 'Delete' | trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ include('partials/_progress_tracker.html.twig') }}
    <div class="row">
        <div class="col-12 px-5">
            <h5>{{ 'Description' | trans }}</h5>
            <p class="dark-grey-text">{{ ticket.description }}</p>
        </div>
        <div class="col-9 d-flex">
            <!-- Classic tabs -->
            <div class="classic-tabs card flex-fill">
                <ul class="nav tabs-trans" id="tabs" role="tablist">
                    <li class="nav-item ml-3">
                        <a class="nav-link  waves-light active show" id=tab-notes-header" data-toggle="tab" href="#tab-notes"
                           role="tab" aria-controls="notes-tab" aria-selected="true">{{ 'Notes' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" id="tab-files-header" data-toggle="tab" href="#tab-files" role="tab"
                           aria-controls="files-tab" aria-selected="false">{{ 'Files' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" id="tab-activity-header" data-toggle="tab" href="#tab-activity" role="tab"
                           aria-controls="activity-tab" aria-selected="false">{{ 'Activity' | trans }}</a>
                    </li>
                </ul>
                <div class="tab-content p-0" id="tabsContent">
                    <div class="tab-pane fade active show p-0 pt-3" id="tab-notes" role="tabpanel" aria-labelledby="notes-tab">
                        <div class=" card-list">
                            <div class="card-body pt-3">
                                <div class="px-3">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" class="z-depth-1 rounded-circle float-left" width="40" alt="avatar image">
                                    <div class="d-flex flex-column pl-3">
                                        <div class="">
                                            <a href="#!" class="font-weight-normal mb-0">Jenny Doe</a>
                                            <p class="small text-muted float-right mb-0">8:35 PM Today</p>
                                        </div>
                                        <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="px-3">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="z-depth-1 rounded-circle float-left" width="40" alt="avatar image">
                                    <div class="d-flex flex-column pl-3">
                                        <div class="">
                                            <a href="#!" class="font-weight-normal mb-0">Rachel Simpson</a>
                                            <p class="small text-muted float-right mb-0">8:35 PM Today</p>
                                        </div>
                                        <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer white py-3">
                                <div class="form-group mb-0 md-form md-bg">
                                    <textarea id="form_note" class="form-control rounded-0 md-textarea" rows="2"></textarea>
                                    <label for="form_note" class="">Write a comment</label>
                                    <div class="text-right pt-1">
                                        <button class="btn btn-primary btn-sm mb-0 mr-0"><i class="fab fa-telegram-plane mr-2"></i> Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-files" role="tabpanel" aria-labelledby="files-tab">
                        <p class="mt-2"></p>
                    </div>
                    <div class="tab-pane fade" id="tab-activity" role="tabpanel" aria-labelledby="activity-tab">
                        <div class="pt-2"></div>
                        <div class="px-3 d-flex">
                            <span class="d-inline-flex justify-content-center align-items-center p-2">
                                <i class="far fa-edit fa-2x text-info"></i>
                            </span>
                            <div class="d-flex flex-column pl-3 w-100">
                                <div class="d-flex">
                                    <span class="text-primary">Update</span>
                                    <p class="ml-1 small text-muted mb-0 mt-1">8:35 PM Today</p>
                                </div>
                                <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="px-3 d-flex">
                            <span class="d-inline-flex justify-content-center align-items-center p-2">
                                <i class="far fa-sticky-note fa-2x text-warning"></i>
                            </span>
                            <div class="d-flex flex-column pl-3  w-100">
                                <div class="d-flex">
                                    <span class="text-primary">Note</span>
                                    <p class="ml-1 small text-muted mb-0 mt-1">8:35 PM Today</p>
                                </div>
                                <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="px-3 d-flex">
                            <span class="d-inline-flex justify-content-center align-items-center p-2">
                                <i class="far fa-file-alt fa-2x text-success"></i>
                            </span>
                            <div class="d-flex flex-column pl-3  w-100">
                                <div class="d-flex">
                                    <span class="text-primary">File Upload</span>
                                    <p class="ml-1 small text-muted mb-0 mt-1">8:35 PM Today</p>
                                </div>
                                <p class="font-weight-light dark-grey-text mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit consequuntur, minus tenetur dicta optio sint nobis nesciunt deserunt quisquam eius.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Classic tabs -->
        </div>
        <div class="col-3 d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ 'Contacts' | trans }}</h5>

                    {% for contact in ticket.customer.contacts | default %}
                    <div class="row mt-4">
                        <div class="col-3 avatar w-100">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="img-fluid z-depth-1 rounded-circle" alt="woman avatar">
                        </div>
                        <div class="col-9 flex-column">
                            <div class="text-primary font-weight-bold">{{ contact }}</div>
                            <div class="grey-text">{{ contact.role }}</div>
                            <div class="grey-text">{{ contact.landline }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% embed 'partials/_scripts.html.twig' %}
    {% endembed %}
{% endblock %}
