{% extends 'base.html.twig' %}

{% block title %}{{ 'New' | trans }}{% endblock %}

{% block body %}
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <img src="{{ asset('assets/images/logo.png') }}" style="height: 120px" alt="" class="img-fluid mb-4">
                            {% for label, messages in app.flashes(['warning', 'error', 'notice', 'success']) %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label | replace({'error':'danger'}) }}">
                                        {{ message | trans }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <h4 class="mb-3 f-w-400">Sign up</h4>
                            {{ form(form) }}
                            <p class="mb-2">{{ 'Already have an account?' | trans }} <a href="{{ path('login') }}" class="f-w-400">{{ 'Sign In' | trans }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}