{% apply inky_to_html|inline_css(source('@email/css/email.css')) %}
    <wrapper class="header">
        <row class="collapse">
            <columns valign="top" class="p-0">
                <img src="{{email.image('@images/logo.png') }}" height="50" class="p-2">
            </columns>
        </row>
    </wrapper>
    <wrapper>
        <row class="collapse">
            <columns valign="top"  large="12" small="12" class="p-0 img-wrapper img-bg">
                <columns valign="top"  large="6" small="12" >
                    <h5 class="text-white pt-5">{% block heading %}{% endblock %}</h5>
                    <h1 class="text-white ml-3 "> {% block brandHeading %}{{ 'App Brand' | trans | title }}{% endblock %}</h1>
                    <small class="ml-4 text-white">{% block subHeading %} {% endblock %}</small>
                </columns>
                <columns valign="bottom"  large="6" small="12">
                    <center><img class="p-4" src="{% block image %}{{email.image('@images/dash.png') }}">{% endblock%} </center>
                </columns>
            </columns>
        </row>
        <row>
            <spacer size="25"></spacer>
            <container>
                <row>
                    <columns valign="top" class="p-0 ">
                        {% block content %}{% endblock %}
                    </columns>
                </row>
            </container>
        </row>
    </wrapper>
    <wrapper class="footer">
        <center>
            <menu>
            </menu>
        </center>
        <spacer size="5"></spacer>
        <row>
            <p class="text-white text-center">
                &#169; {{ 'App Brand' | trans}} {{ 'now' | date('Y') }}
            </p>
        </row>
    </wrapper>
{% endapply %}