{% extends 'emails/base.html.twig' %}
{% block heading %}{{ 'welcome to' | trans | capitalize }}{% endblock %}
{% block subHeading %} {{ 'your online portal' | trans | capitalize }}{% endblock %}
{% block content %}
    <p>{{ 'hi' | trans | capitalize }} {{ name | default | capitalize }},</p>
    <p>{{ 'Your account has been created and is ready to use.' | trans  }} {{ 'To start using your account simply set a password.' | trans }}</p>
    <a class="btn btn-primary primary-bg mb-3" href="{{ url('reset_password', {token: token}) }}">{{ 'set password' | trans | title }}</a>
    <p>{{ 'This link will expire in 24 hours' | trans }}</p>
    <p>{{ 'if you did not request an account, please contact support' | trans | capitalize }}</p>
    <p>{{ 'kind regards' | trans | title }},</p>
    <p class="signature">{{ 'App Brand' | trans | title }}</p>
{% endblock %}