{% extends 'emails/base.html.twig' %}
{% block heading %}{{ 'welcome to' | trans | capitalize }}{% endblock %}
{% block subHeading %} {{ 'password reset request' | trans | title }}{% endblock %}
{% block content %}
    <p>{{ 'hi' | trans | capitalize }} {{ name | default | capitalize }},</p>
    <p>{{ 'Looks like you lost your password? Click on the button below to set a new password' | trans }}</p>
    <a class="btn btn-primary primary-bg mb-3" href="{{ url('reset_password', {token: token}) }}">{{ 'reset password' | trans | title }}</a>
    <p>{{ 'This link will expire in 24 hours' | trans }}</p>
    <p>{{ 'if you did not request a password reset, please contact support' | trans | capitalize }}</p>
    <p>{{ 'kind regards' | trans | title }},</p>
    <p class="signature">{{ 'App Brand' | trans | title }}</p>
{% endblock %}