{% extends 'emails/base.html.twig' %}
{% block heading %}{{ 'welcome to' | trans | capitalize }}{% endblock %}
{% block subHeading %} {{ 'your online portal' | trans | capitalize }}{% endblock %}
{% block content %}
    <p>{{ 'hi' | trans | capitalize }} {{ name | default | capitalize }},</p>
    <p>{{ 'Your account has been created and is ready to use.' | trans  }}</p>
    <p>{{ 'if you did not request an account, please contact support' | trans | capitalize }}</p>
    <p>{{ 'kind regards' | trans | title }},</p>
    <p class="signature">{{ 'App Brand' | trans | title }}</p>
{% endblock %}