<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ 'App Brand' | trans }} | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/theme') }}
        {% endblock %}
    </head>
    <body class="fixed-sn d-flex flex-column">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% embed 'partials/_scripts.html.twig' %}{% endembed %}
        {% endblock %}
    </body>
</html>
