{% extends 'base.html.twig' %}

{% block body %}
    <header>

        <div class="header-wrapper">

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light white double-nav scrolling-navbar">

                <div class="navbar-section-top">
                    <div>
                        <a href="#" data-activates="slide-out" class="button-collapse mr-2"><i class="fas fa-bars"></i></a>
                    </div>
                    <div>
                        <h1 class="text-primary h2 m-0">{{ title | default }}</h1>
                    </div>

                    <div class="ml-auto dropdown d-flex">
                        <a href="" class="user-dropdown dropdown-toggle waves-effect" id="userDropdown" data-toggle="dropdown" aria-haspopup="true">
                            <div class="user-image" style="background-image: url({{ app.user.profilePicture ? vich_uploader_asset(app.user) : asset('assets/images/default-avatar.png') }})"></div>
                            <span>{{ app.user | title }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right w-100" aria-labelledby="userDropdown">
                            <a href="{{ path('user_profile', {'hashid': hashid.encode(app.user.id) }) }}" class="dropdown-item">{{ 'Profile' | trans }}</a>
                            <a href="{{ path('change_password') }}" class="dropdown-item">{{ 'Change Password' | trans }}</a>
                            {% if  app.user.totpConfirmed == false %}
                                <a  href="{{ path('enable_2fa') }}" class="dropdown-item">{{ 'Enable 2FA' | trans }}</a>
                            {% else %}
                                <a  href="{{ path('disable_2fa') }}" class="dropdown-item">{{ 'Disable 2FA' | trans }}</a>
                            {% endif %}
                            <a href="{{ path('logout') }}" class="dropdown-item">{{ 'Log Out' | trans }}</a>
                        </div>
                    </div>
                </div>

            </nav>
            <!-- Navbar -->
        </div>

        <!-- Sidenav  -->
        <div id="slide-out" class="side-nav side-nav-light fixed"
             data-mdb-slim="true"
             data-mdb-slim-collapsed="true">
            <!-- Logo -->
            <div class="logo-wrapper waves-light waves-effect waves-light">
                <a class="navbar-brand" href="/">
                    <img id="MDB-logo" src="{{ asset('assets/images/logo.png') }}" alt="Logo" >
                </a>
            </div>
            <!-- Logo -->
            <ul class="custom-scrollbar">
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <!-- Side navigation links -->
                        {% for menuItem in menu.menu %}
                            {% if is_granted('read', menuItem.name) %}
                                {% if menuItem.childMenuItems | length > 0 %}
                                    <li>
                                        <ul class="collapsible collapsible-accordion">
                                            <li>
                                                <a class="collapsible-header waves-effect arrow-r {{  menuItem.name in app.request.get('_controller') or path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) starts with '/'~menuItem.name | lower ? 'active' : '' }}">
                                                    <i class="{{ menuItem.icon | default }}"></i><span data-mdb-slim="false">{{ menuItem.name }}</span>
                                                    <i class="fa fa-angle-down rotate-icon"></i>
                                                </a>
                                                <div class="collapsible-body">
                                                    <ul>
                                                        {% for child in menuItem.childMenuItems %}
                                                            <li>
                                                                <a href="{{ path(child.route, child.params) }}" class="waves-effect active {{  app.request.attributes.get('_route') == child.route ? 'active':'' }}">
                                                                    <span class="sv-normal">{{ child.name }}</span>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    <li>
                                {% else %}
                                    <li>
                                        <a href="{{ menuItem.route != '#' ? path(menuItem.route, menuItem.params) }}" class="collapsible-header navbar-link-2 waves-effect arrow-r d-flex align-items-center">
                                            <i class="{{ menuItem.icon | default }}"></i>
                                            <span data-mdb-slim="false">{{ menuItem.name }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!--/. Side navigation links -->


                    </ul>
                </li>
                <!-- Side navigation links -->
            </ul>
        </div>
        <!-- Sidenav -->

    </header>

    <main class="flex-fill mb-4{% block mainClasses %}{% endblock %}">
        <div class="site-alerts">
            <div class="site-alerts__list">
                {% for label, messages in app.flashes(['warning', 'error', 'success', 'info', 'notification'])%}
                    {% for message in messages %}
                        <div class="alert alert-{{ label | replace({'error':'danger', 'notification':'warning'}) }} mb-2 text-center alert-dismissible fade show alert-fade-out" role="alert">
                            <span>{{ message | trans }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer class="page-footer">
        <!-- Copyright -->
        {% if is_granted('IS_IMPERSONATOR') %}
            <div class="alert alert-warning w-100 text-center animate__animated fixed-bottom mb-0">
                <a class="btn btn-primary" href="{{ path('list_users', {'_switch_user': '_exit'}) }}">{{ 'Exit impersonation of' | trans }} {{ app.user }}</a></div>
        {% else %}
            <div class="footer-copyright py-3">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        &copy; {{ 'App Brand' | trans }} {{ "now"|date("Y") }}
                    </div>
                    <div class="col-auto">
                        {{ 'Powered by' | trans }} <a href="#" target="_blank">K Cloud Tech</a>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

{% endblock %}