<div class="card card-cascade narrower">

    <!-- Card header -->
    <div class="view view-cascade gradient-card-header primary-gradient">
        <h5 class="mb-0">{% block card_header %}{% endblock %}</h5>
        <small>{% block card_sub_header %}{% endblock %}</small>
    </div>
    <!-- Card header -->

    <!-- Card content -->
    <div class="card-body card-body-cascade">
        {% block card_body %}{% endblock %}
    </div>
    <!-- Card content -->

</div>