{% use 'bootstrap_4_layout.html.twig' %}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    <div {{ block('widget_container_attributes') }} class="form-row horizontal-form">
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'div' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {% if  (compound is  defined and compound) %}
        {{- form_label(form) -}}
        {% set merge = '' %}
    {% else %}
        {% set merge = 'md-form md-outline m-lg-0' %}
    {% endif %}
    <div class="col-12 col-lg">
        <{{ element|default('div') }} {% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ merge)|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form, widget_attr) -}}
        {% if not form.vars.choices | default and (compound is not defined or not compound) %}
            {{- form_label(form) -}}
        {% endif %}
        {{- form_help(form) -}}
        </{{ element|default('div') }}>
    </div>
{%- endblock form_row %}

{% block date_row %}
    {% set merge = 'md-form md-outline m-lg-0 input-with-post-icon' %}
    <div class="col-12 col-lg">
        <{{ element|default('div') }} {% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ merge)|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_help(form) -}}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="invalid-feedback">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
        </{{ element|default('div') }}>
    </div>
{% endblock %}

{% block date_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' datepicker form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' datepicker form-control')|trim}) %}
    {{- parent() -}}
    <i class="fas fa-calendar input-prefix active" tabindex="0"></i>
{%- endblock date_widget %}

{% block percent_row %}
    {%- set label_class = [] -%}
    {% set merge = 'md-form md-outline m-lg-0 input-with-post-icon' %}
    <div class="col-12 col-lg">
        <{{ element|default('div') }} {% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ merge)|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_help(form) -}}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="invalid-feedback">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
        </{{ element|default('div') }}>
    </div>
{% endblock %}

{% block percent_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control is-invalid')|trim}) -%}
        {% set valid = true %}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
    <i class="fas fa-percentage input-prefix active" tabindex="0"></i>
{% endblock -%}

{%- block button_row -%}
    {% set merge = 'col-12 col-lg-auto' %}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ merge)|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block switch_widget -%}
    {% set label = name|humanize %}
    <div class="switch pb-1">
        <label class="mb-lg-0">
            {{ translation_domain is same as(false) ? label | title  : label | title |trans(label_translation_parameters, translation_domain) }}
            <input type="checkbox" {{ block('widget_attributes') }} {% if checked %}checked {% endif %}{% if value is not empty %} value="{{ value | default(0) }}"{% endif %}>
            <span class="lever"></span>
        </label>
    </div>
{%- endblock switch_widget -%}

{% block textarea_row -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    <div class="col-12 col-lg">
        <div class="md-form md-outline">
            <textarea class="form-control rounded-0 clear-textarea" {{ block('widget_attributes') }} rows="5">{{ value | default }}</textarea>
            {{- form_label(form) -}}
        </div>
    </div>
{%- endblock textarea_row %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <div class="select-bg">
        {% set attr = attr  |default({}) |merge({'class': (attr.class|default('') ~ ' mdb-select md-form md-outline')|trim}) %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} searchable="{{ 'Search' | trans }}" {% if required  %} required{% endif %}>
            {%- if placeholder is not none -%}
                <option value="" {% if required and value is empty %} disabled selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {% set render_preferred_choices = true %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {%- set render_preferred_choices = false -%}
            {{- block('choice_widget_options') -}}
        </select>
        {{- block('form_label') -}}
    </div>
{%- endblock choice_widget_collapsed -%}