{% use 'bootstrap_4_layout.html.twig' %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% if type is not defined or type != 'hidden' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ (type|default('') == 'file' ? ' custom-file-input' : ' form-control'))|trim}) -%}
    {% endif %}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {%- if errors|length > 0 -%}
        <div id="{{ id }}_errors" class="mb-2 text-left">
            {{- form_errors(form) -}}
        </div>
    {%- endif -%}
{%- endblock form_widget_simple -%}

{%- block switch_widget -%}
    {% set label = name|humanize %}
    <div class="switch pb-1">
        <label>
            {{ translation_domain is same as(false) ? label | title  : label | title |trans(label_translation_parameters, translation_domain) }}
            <input type="checkbox" {{ block('widget_attributes') }} {% if disabled %} disabled {% endif %}{% if checked %}checked {% endif %}{% if value is not empty %} value="{{ value | default(0) }}"{% endif %}>
            <span class="lever"></span>
        </label>
    </div>
{%- endblock switch_widget -%}

{% block permission_collection_widget %}
    <div class="row mb-3 mt-2">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="form-inline d-flex justify-content-center md-form form-sm mt-2">
                <input class="form-control form-control-sm mr-3 w-75" id="search" type="text" placeholder="{{ 'Search' | trans }}..." aria-label="Search" autocomplete="off">
                <i class="fas fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-hover w-100" id="data_table">
            <thead>
            <tr>
                <td>{{ 'Page' | trans }}</td>
                <td>{{ 'Create' | trans }}</td>
                <td>{{ 'Read' | trans }}</td>
                <td>{{ 'Update' | trans }}</td>
                <td>{{ 'Delete' | trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for item in form %}
                <tr>
                    {{ form_row(item) }}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

{% block permission_row %}
    {% for child in form.children %}
        <td>
            {% if child.vars.block_prefixes[1] == 'text' %}
                <input type="hidden" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                <span id="{{ child.vars.id }}">{{ child.vars.value | capitalize }}</span>
            {% else %}
                <div class="switch">
                    <label>
                        <input type="checkbox" name="{{ child.vars.full_name }}" {% if  child.vars.checked %}checked {% endif %}" {% if child.vars.value is not empty %} value="{{ child.vars.value | default(0) }}"{% endif %}>
                        <span class="lever"></span>
                    </label>
                </div>
            {% endif %}
        </td>
    {% endfor %}
{% endblock %}

{% block user_permission_row %}
    {% for child in form.children %}
        <td>
            {% if child.vars.block_prefixes[1] == 'text' %}
                <input type="hidden" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}">
                <span id="{{ child.vars.id }}">{{ child.vars.value | capitalize }}</span>
            {% else %}
                <div class="switch">
                    <label>
                        <input type="checkbox" name="{{ child.vars.full_name }}" {% if child.vars.disabled %} disabled {% endif %} {% if  child.vars.checked %}checked {% endif %} {% if child.vars.value is not empty %} value="{{ child.vars.value | default(0) }}"{% endif %}>
                        <span class="lever"></span>
                    </label>
                </div>
            {% endif %}
        </td>
    {% endfor %}
{% endblock %}

{% block profile_picture_widget %}
    <div class="file-field text-center">
        <div class="mb-4">
            <img src="{{ data.pathName | default ? data.pathName |replace({(project_root | escape) : ''}):  asset('assets/images/default-avatar.png') }}" id="picturePreview" height="120" width="120" class="rounded-circle z-depth-1-half avatar-pic" alt="avatar">
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn btn-primary btn-rounded float-left">
                <span>{{ 'upload' | trans }}</span>
                <input type="file" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ data.basename | default }}"{% endif %} accept="image/*" onchange="previewImage(this)">
                {%- if errors|length > 0 -%}
                    <div id="{{ id }}_errors" class="mb-2">
                        {{- form_errors(form) -}}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{% endblock %}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'div' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {% if  (compound is  defined and compound) %}
        {{- form_label(form) -}}
        {% set merge = 'col-md-12' %}
        {% else %}
            {% set merge = 'md-form md-bg' %}
    {% endif %}
    <{{ element|default('div') }} {% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ merge)|trim})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_widget(form, widget_attr) -}}
    {% if not form.vars.choices | default and (compound is not defined or not compound) %}
        {{- form_label(form) -}}
    {% endif %}
    {{- form_help(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'h5' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ 'mt-5 text-left')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}</{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label %}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }} class="d-flex flex-column">
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{% block collection_widget %}
    {% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endapply %}
{% endblock collection_widget %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    <div class="row">
        <div class="col-md-12 select-outline">
            {% set attr = attr  |default({}) |merge({'class': (attr.class|default('') ~ ' mdb-select md-form md-bg dropdown')|trim}) %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} searchable="{{ 'Search' | trans }}" {% if required  %} required{% endif %}>
                {%- if placeholder is not none -%}
                    <option value="" disabled {% if value is empty %}selected {% endif %} >{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
                {%- endif -%}
                {%- if preferred_choices|length > 0 -%}
                    {% set options = preferred_choices %}
                    {% set render_preferred_choices = true %}
                    {{- block('choice_widget_options') -}}
                    {%- if choices|length > 0 and separator is not none -%}
                        <option disabled="disabled">{{ separator }}</option>
                    {%- endif -%}
                {%- endif -%}
                {%- set options = choices -%}
                {%- set render_preferred_choices = false -%}
                {{- block('choice_widget_options') -}}
            </select>
            {{- block('form_label') -}}
            {%- if errors|length > 0 -%}
                <div id="{{ id }}_errors" class="mb-2">
                    {{- form_errors(form) -}}
                </div>
            {%- endif -%}
        </div>
    </div>

{%- endblock choice_widget_collapsed -%}

{% block money_widget -%}
    {% if type is not defined or type != 'hidden' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ (type|default('') == 'file' ? ' custom-file-input' : ' form-control'))|trim}) -%}
    {% endif %}
    <input type="number" min="0" max="999999.99" step="0.01" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {%- if errors|length > 0 -%}
        <div id="{{ id }}_errors" class="mb-2 text-left">
            {{- form_errors(form) -}}
        </div>
    {%- endif -%}
{% endblock money_widget -%}

{% block date_row -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ (type|default('') ~' datepicker form-control'))|trim}) -%}
    <div  class="md-form md-outline input-with-post-icon datepicker" inline="true">
        <input type="text"{{ block('widget_attributes') }} value="{{ value | default | date('d F, Y') }}">
        <label for="{{ form.vars.id }}">{{ translation_domain is same as(false) ? label | title  : label | title |trans(label_translation_parameters, translation_domain) }}</label>
        <i class="fas fa-calendar input-prefix"></i>
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2 text-left">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    </div>
{%- endblock date_row %}

{%- block auto_complete_row -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ (type|default('') ~' form-control mdb-autocomplete'))|trim}) -%}
    <div class="md-form md-outline">
        <input type="search" {{ block('widget_attributes') }} value="{{ form.vars.value }}">
        <button class="mdb-autocomplete-clear">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </button>
        <label for="{{ form.vars.id }}">{{ (translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) ) }}</label>
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    </div>

{%- endblock auto_complete_row   -%}



