{% extends 'main_layout.html.twig' %}

{% block title %}{{ page_title | default(title | default)  }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% embed '@generic/_card.html.twig' %}
                {% block card_header %}
                    {{ title | default('Form') | trans }}
                {% endblock %}
                {% block card_sub_header %}
                    {{ sub_heading | default | trans }}
                {% endblock %}
                {% block card_body %}
                    {% if error_summary | default %}
                    {{ form_errors(form) }}
                    {% endif %}
                    {% if form_buttons | default %}
                        {{ form_start(form) }}
                        {% for child in form.children %}
                            {{ form_row(child) }}
                        {% endfor %}
                        <div class="md-form md-outline">
                            {% for button in form_buttons %}
                                <button type="submit" id="{{ button }}" name="{{ button }}" value="clicked" class="btn btn-primary float-right btn waves-effect waves-light ml-2">{{ button | humanize }}</button>
                            {% endfor %}
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    {% else %}
                        {{ form(form) }}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}