{% extends 'main_layout.html.twig' %}

{% block title %}{{ page_title | default(title | default)  }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            {% embed '@generic/_card.html.twig' %}
                {% block card_header %}
                    {{ title | default('Form') | trans }}
                {% endblock %}
                {% block card_sub_header %}
                    {{ sub_heading | default | trans }}
                {% endblock %}
                {% block card_body %}
                    <div class="nav elastic nav-tabs d-flex text-center">
                        <div class="selector"></div>
                        {% for label, child in form.children %}
                            {% if child.children | length > 0 %}
                                <a class="{% if loop.first %}active {% endif %}d-flex flex-grow-1" href="#{{ label | replace({' ': '_'})}}"><span>{{ label | humanize | title }}</span></a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {{ form_start(form) }}
                    <div class="tab-content pt-2">
                        <p class="mt-3"></p>
                        {% for label, child in form.children %}
                            {% if child.children | length > 0 %}
                                <div id="{{ label | replace({' ': '_'})}}" class="tab-pane {% if loop.first %} active{% endif %}">
                                    {{ form_widget(child) }}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="mt-3">
                            <a class="btn btn-danger float-left" onclick="history.back()">{{ 'Cancel' | trans }}</a>
                            <button id="btnSave" type="submit" class="btn btn-success float-right d-none">{{ 'Save' | trans }}</button>
                            <a class="btn btn-primary next float-right">{{ 'Next' | trans }}</a>
                            <a class="btn grey lighten-4 prev float-right text-black-50">{{ 'Previous' |trans }}</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
