{% extends 'main_layout.html.twig' %}
{% block title %}{{ page_title | default(title | default) }}{% endblock %}
{% block mainClasses %} d-flex flex-column{% endblock %}
{% block content %}

    <div class="card flex-1 generic-list">
        <div class="card-heading">
            <div class="row align-items-center">
                <div class="col mr-auto">
                    <h2 class="h4 m-0">{{ title | default('List') }}</h2>
                    <small>{{ sub_heading | default }}</small>
                </div>
                <div class="col-auto">
                    {%  if recycle_path | default %}
                        <a class="btn btn-primary" href="{{ path(recycle_path) }}" data-toggle="tooltip" title="{{ 'Recycle Bin' | trans }}">
                            <i class="fa fa-recycle"></i>
                        </a>
                    {% elseif entity | default %}
                        <a class="btn btn-primary" href="{{ path('list_'~ helpers.pluralise(entity)) }}" data-toggle="tooltip" title="{{ 'Back to List' | trans }}">
                            <i class="fa fa-list"></i>
                        </a>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {% if new_path | default %}
                        <div class="row">
                            {%  if new_path | default %}
                                <div class="col-md-12 text-right">
                                    <a class="btn btn-primary text-right" href="{{ url(new_path, new_path_params | default({}) ) }}">
                                        <span>{{ new_text | default('New') }}</span>
                                        <i class="fa fa-{{ new_icon | default('plus') }} ml-2"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card-body flex-grow-0" style="background-color: #f9f9f9;">
            <div class="row align-items-center">
                <div class="col-md-auto mr-auto d-flex align-items-center">
                    <span class="mr-2 text-black-50">{{ 'Show' | trans }}</span>
                    <div class="dropdown" id="limit">
                        <button class="btn grey lighten-4 dropdown-toggle waves-effect" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            10
                        </button>
                        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">5</a>
                            <a class="dropdown-item active" href="#">10</a>
                            <a class="dropdown-item" href="#">15</a>
                            <a class="dropdown-item" href="#">25</a>
                            <a class="dropdown-item" href="#">50</a>
                        </div>
                    </div>
                    <span class="ml-2 text-black-50">{{ 'Per Page' | trans }}</span>
                </div>
                {% if table_filters | default | length > 0 %}
                    <div class="col-auto d-flex align-items-center">
                        <span class="mr-2 text-black-50">Filter By</span>
                        <div class="dropdown mr-2">
                            <button class="btn grey lighten-4 dropdown-toggle waves-effect" type="button" id="dropdownFilters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ table_filters[0].title }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownFilters">
                                {%  for filter in table_filters %}
                                    <a class="dropdown-item dt-filter{% if loop.first %} active{% endif %}" href="#{{ filter.id }}" id="{{ filter.id }}" data-col="{{ filter.col }}" data-search="{{ filter.searchVal  }}" data-toggle="tab" data-title="{{ filter.title }}">
                                        {% if filter.icon | default %}<i class="fa fa-{{ filter.icon }}"></i>{% endif %} {{ filter.title }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-2">
                    <form class="md-form md-outline m-0">
                        <input class="form-control m-0" id="search" type="text" aria-label="Search" autocomplete="off">
                        <label for="search">{{ 'Search' | trans }}...</label>
                    </form>
                </div>
            </div>
        </div>
        <div style="background-color: #f9f9f9;" class="flex-grow-1 d-flex">
            <table class="table table-stacked data_table" id="data_table">
                <thead>
                <tr>
                    {% for header in headers %}
                        <th style="white-space: nowrap; {% if  header in center_columns |default %} text-align: center{% endif %}" >
                            {{ header | humanize | title }}
                            <i class="fa fa-sort sort"></i>
                            <i class="fa fa-sort-up asc"></i>
                            <i class="fa fa-sort-down desc"></i>
                        </th>
                    {% endfor %}
                    <th style="text-align: right; white-space: nowrap; width: 1px;">-</th>
                </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for key, cell in row.toArray(['list']) %}
                                <td {% if helpers.type(cell) in ['integer', 'boolean', 'PersistentCollection'] or key in center_columns |default %} style="text-align: center"{% endif %}>
                                    {% if helpers.type(cell) == 'boolean' %}
                                        <i class="fa fa-{{ cell == true ? 'check text-success' : 'times text-danger' }}"></i><span class="d-none">{{ cell | default(0) }}</span>
                                    {% elseif helpers.type(cell)  == 'link' %}
                                        <a class="{{ cell.css }} text-primary" href="{{ 'tel:' in cell.route or 'mailto' in cell.route  ? cell.route : path(cell.route, cell.params) }}">{{ cell.label | raw }}</a>
                                    {% elseif helpers.cast(cell)  is iterable %}
                                        {% for key, value in cell %}
                                            {{ key | humanize }} <i class="fa fa-chevron-right text-warning"></i>
                                            {% if helpers.type(value) == 'boolean' %}
                                                {{ value == true ? 'True' : 'False' }} <br>
                                            {% else  %}
                                                {{ value is iterable ? helpers.cast(value) | first : helpers.cast(value) }}<br>
                                            {% endif %}
                                        {% endfor %}
                                    {% elseif cell starts with project_root or 'image' in key | lower or 'picture' in key | lower %}
                                        {% if 'image' in key | lower or 'picture' in key | lower %}
                                            <img class="rounded-circle avatar-pic"  src="{{ cell | replace({(project_root | escape) : ''}) }}" height="50" width="50" onerror="this.onerror=null;this.src='{{ asset('assets/images/default-avatar.png') }}';">
                                        {% else %}
                                            <a class="btn btn-primary p-2" target="_blank" href="{{ cell | replace({(project_root | escape) : ''}) }}" > <i class="fa fa-eye"></i><div class="ripple-container"></div></a>
                                        {% endif %}
                                    {% elseif key == 'dueBy' %}
                                        {% if row.dueBy | default  %}
                                            {% set colour = converters.deadlineColour(date(cell)) %}
                                            {% if colour != '' %}
                                                {% set text = converters.deadlineText(date(cell)) %}
                                                <span class="badge {{ colour}} p-1 w-100">{{ text }}</span>
                                            {% else %}
                                                {{ converters.deadlineText(date(cell)) | nl2br }}
                                            {% endif %}
                                        {% endif %}
                                    {% elseif key == 'priority' %}
                                        <span class="d-none">{{ cell }}</span>
                                        <span class="badge {{ converters.priorityColour(cell)}} p-1 w-100"> {{ converters.priority(cell) | trans | capitalize }}</span>
                                    {% elseif key == 'status' and is_granted('isInternal') %}
                                            <span class="badge {{ converters.statusColour(cell) }} p-1 w-100"> {{ cell | trans | capitalize }}</span>
                                    {% else %}
                                        {{ helpers.cast(cell) | nl2br  }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td style="text-align: right; white-space: nowrap; width: 1px; padding-top: 0; padding-bottom: 0" >
                                {% if not show_view | default %}
                                    {% if auth_object | default and  is_granted('update', auth_object) == true and row.id | default not in excluded_edit_ids | default %}
                                        <a class="btn btn-info btn-square m-0" href="{{ path('update_'~auth_object, {'hashid': hashid.encode(row.id) } ) }}" data-toggle="tooltip" data-placement="left" title="{{ 'Edit' | trans }}"> <i class="fa fa-pencil-alt"></i></a>
                                    {% endif %}
                                {% else %}
                                    {% if auth_object | default and  is_granted('read', auth_object) == true  %}
                                        <a class="btn btn-info btn-square m-0" href="{{ path('view_'~auth_object, {'hashid': hashid.encode(row.id) } ) }}" data-toggle="tooltip" data-placement="left" title="{{ 'View' | trans }}"> <i class="fa fa-eye"></i></a>
                                    {% endif %}
                                {% endif %}
                                {% if auth_object | default and  is_granted('update', auth_object) == true and row.id | default not in excluded_delete_ids | default %}
                                    <a class="btn btn-danger btn-square action-danger m-0" href="{{ path('delete_'~auth_object, {'hashid': hashid.encode(row.id) } ) }}" data-toggle="tooltip" data-placement="left" title="{{ 'Delete' | trans }}"> <i class="fa fa-trash"></i></a>
                                {% endif %}
                                {%  if is_granted('ROLE_SUPER_ADMIN') and title | default starts with 'History' and not loop.first %}
                                    <a class="btn btn-info btn-square revert m-0" href="{{ path('revert_'~entity, {'hashid': hashid.encode(row.objectId), 'version' :row.version } ) }}" data-toggle="tooltip" data-placement="left" title="{{ 'Revert' | trans }}"> <i class="fa fa-redo"></i></a>
                                {% endif %}
                                {%  if is_granted('ROLE_SUPER_ADMIN') and title | default starts with 'Recycle' %}
                                    <a class="btn btn-warning btn-square restore m-0" href="{{ path('restore_'~entity, {'hashid': hashid.encode(row.id) } ) }}" data-toggle="tooltip" data-placement="left" title="{{ 'Restore' | trans }}"> <i class="fa fa-redo"></i></a>
                                {% endif %}

                                {% set showDropdown = buttons|default|length > 0 or is_granted('ROLE_SUPER_ADMIN') and (is_versioned | default) and (auth_object | default) %}

                                {% if showDropdown %}

                                    <div class="dropleft d-inline-block">
                                        <button class="btn btn-square btn-primary dropdown-toggle no-arrow" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="{{ hashid.encode(row.id) }}">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu w-100" aria-labelledby="{{ hashid.encode(row.id) }}">
                                            <h6 class="dropdown-header">Actions</h6>
                                            {% for button in buttons | default %}
                                                <a class="dropdown-item action-{{ button.colour }}" href="{{ path(button.route, {'hashid': hashid.encode(row.id)}) }}">
                                                    <i class="fa fa-{{ button.icon }} mr-1 text-{{ button.colour}}"></i>
                                                    {{  button.title| trans }}
                                                </a>
                                            {% endfor %}
                                            {% if is_granted('ROLE_SUPER_ADMIN') and app.request.get('_route') == 'list_users' and app.user.id != row.id and row.role  != 'Super Admin'   %}
                                                <a class="dropdown-item" href="{{ path('home', {'_switch_user': row.email }) }}">
                                                    <i class="fa fa-people-arrows mr-1 text-warning"></i>
                                                    {{ 'Switch User' | trans }}
                                                </a>
                                            {% endif %}
                                            {%  if is_granted('ROLE_SUPER_ADMIN') and is_versioned | default and auth_object | default  %}
                                                <a class="dropdown-item" href="{{ path(auth_object~'_history', {'hashid': hashid.encode(row.id) } ) }}">
                                                    <i class="fa fa-history text-warning mr-1"></i>
                                                    {{ 'History' | trans }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                {% else %}
                                    {% block customButtons %}
                                        {% for button in buttons | default %}
                                            <a class="btn btn-{{ button.colour}} btn-square" href="{{ path(button.route, {'hashid': hashid.encode(row.id)}) }}"  data-placement="left" title="{{  button.title| trans }}"> <i class="fa fa-{{ button.icon }}"></i></a>
                                        {% endfor %}
                                    {% endblock %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') and app.request.get('_route') == 'list_users' and app.user.id != row.id and row.role  != 'Super Admin'   %}
                                        <a class="btn btn-warning btn-square" href="{{ path('home', {'_switch_user': row.email }) }}" data-placement="left" title="{{ 'Switch User' | trans }}"> <i class="fa fa-people-arrows"></i></a>
                                    {% endif %}
                                    {%  if is_granted('ROLE_SUPER_ADMIN') and is_versioned | default and row.id | default not in excluded_delete_ids | default and auth_object | default %}
                                        <a class="btn btn-warning btn-square" href="{{ path(auth_object~'_history', {'hashid': hashid.encode(row.id) } ) }}" data-placement="left" title="{{ 'History' | trans }}"> <i class="fa fa-history"></i></a>
                                    {% endif %}

                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('.dt-filter').each(function () {
                $(this).on('click', function () {
                    $('.dt-filter.active').removeClass('active');
                    $(this).addClass('active');

                    table.column($(this).data('col'))
                        .search($(this).data('search'), true, false)
                        .draw();
                    $('#dropdownFilters').text($(this).attr('data-title'));
                });
            })
            $('.action-danger').each(function () {
                let url = $(this).attr('href');
                $(this).attr('href','#');
                $(this).on('click', function () {
                    Swal.fire({
                        title: '{{ 'Delete' | trans | title }}',
                        text: "{{ 'Are you sure you want to delete the record?' | trans }}",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: '{{ 'Yes, delete it' | trans }}',
                        cancelButtonText: '{{ 'Cancel' | trans }}',
                        reverseButtons: true,
                        showLoaderOnConfirm: true,
                    }).then((result) => {
                        if (result.value) {
                            location.href = url;
                        }
                    })
                })
            });
            $('.revert').each(function () {
                let url = $(this).attr('href');
                $(this).attr('href','#');
                $(this).on('click', function () {
                    Swal.fire({
                        title: '{{ 'Revert' | trans | title }}',
                        text: "{{ 'Are you sure you want to revert the record?' | trans }}",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: '{{ 'Yes, revert it' | trans }}',
                        cancelButtonText: '{{ 'Cancel' | trans }}',
                        reverseButtons: true,
                        showLoaderOnConfirm: true,
                    }).then((result) => {
                        if (result.value) {
                            location.href = url;
                        }
                    })
                })
            });
        });
    </script>
{% endblock %}