<!-- Grid column -->
<div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

    <!-- Card -->
    <div class="card card-cascade cascading-admin-card">

        <!-- Card Data -->
        <div class="admin-up">
            <i class="fas fa fa-{% block icon %}{% endblock%} {% block colour %} info-colour{% endblock%} mr-3 z-depth-2"></i>
            <div class="data">
                <p class="text-uppercase">{% block heading %}heading{% endblock %}</p>
                <h4 class="font-weight-bold dark-grey-text">{% block stat %}0{% endblock %}</h4>
            </div>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <div class="progress mb-3">
                <div class="progress-bar {% block progress_colour %}red accent-2{% endblock %}" role="progressbar" style="width: {% block progress_width %}0{% endblock %}%" aria-valuenow="{% block progress_value %}0{% endblock %}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="card-text">{% block message %}{% endblock %}</p>
        </div>

    </div>
    <!-- Card -->

</div>
<!-- Grid column -->