{% extends 'base.html.twig' %}

{% block title %}Forbidden{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/error_pages') }}
    {% endblock %}

        {% block body %}
            <div class="noise"></div>
            <div class="overlay"></div>
            <div class="terminal">
                <h1>{{ 'forbidden' | trans | capitalize }} <span class="errorcode">403</span></h1>
                <p class="output">{{ 'you do not have permission to access the requested page'| trans | capitalize  }}</p>
            </div>
        {% endblock %}