{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/error_pages') }}
    {% endblock %}

        {% block body %}
            <div class="noise"></div>
            <div class="overlay"></div>
            <div class="terminal">
                <h1>{{ 'error' | trans | capitalize }} <span class="errorcode">{{ status_code  | default }}</span></h1>
                <p class="output">{{ "Oops, we seem to be having a little trouble with that request" | default }}</p>
                <p class="output"> <a href="{{ path('home') }}">{{ 'take me home' | trans | capitalize }}</a> </p>

            </div>
        {% endblock %}