{% extends 'base.html.twig' %}

{% block title %}Not Found{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/error_pages') }}
    {% endblock %}

        {% block body %}
            <div class="noise"></div>
            <div class="overlay"></div>
            <div class="terminal">
                <h1>{{ 'not found ' | trans | capitalize }}<span class="errorcode">404</span></h1>
                {% if not app.user | default %}
                    <p class="output">{{ 'the page you are looking for can\'t be found. To try again,'| trans | capitalize  }}</p>
                    <p class="output">{{ 'windows users, press' | trans | capitalize  }} <a href="#1">Alt + F4</a> </p>
                    <p class="output">{{ 'mac users, press' | trans | capitalize  }} <a href="#2">Command + Q </a>.</p>
                {% else %}
                    <p class="output">{{'the page you are looking for can\'t be found.' | trans | capitalize }}</p>
                    <p class="output">{{'please check you\'ve entered the url correctly, or' | trans | capitalize }}<a href="{{ path('home') }}">{{ 'take me home' | trans | capitalize  }}</a> </p>
                {% endif %}
            </div>
        {% endblock %}